@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  height: 100%;
}

header {
  display: flex;
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Стилі для заголовка */

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 100px;
} 

header .menu {
  display: flex;
  align-items: center;
}

header .menu__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header .menu__list li {
  padding: 15px;
}

header .menu__list li a {
  text-decoration: none;
  color: #414141;
}

header .menu__list li a:hover {
  color: #ff5f00;
}

/* Стилі для картки */

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.2s;
  width: 225px;
  min-height: 350px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  padding: 10px;
}

.card:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
  position: relative;
  flex: 0 0 220px;
  overflow: hidden;
}

.card__bottom {
  flex: 1 0 auto;
}

.card__selected {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  background-color: #ff5f00;  
  border-radius: 50%;
}

.card__selected:hover {
  color: #ff5f00;
  background-color: #fff;
  border: 1px solid #ff5f00;
  box-shadow: 0 0 4px rgba(255, 102, 51, 0.5);
}

.card__label {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 4px 8px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background-color: #ff5f00;
  border-radius: 4px;
}

.card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.card__img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.2s;
}

.card__img:hover > img {
  transform: scale(1.1);
}

.card__prices {
  display: flex;
  margin-bottom: 10px;
}

.card__price {
  width: 50%;
}

.card__price::after {
  content: "\20B4";
  margin-left: 4px;
}

.card__price--discount {
  color: #414141;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap-reverse;
}

.card__price--discount::before {
  content: "Зі знижкою";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
  align-items: center;
}

.card__price--common {
  font-weight: 400;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  color: #606060;
}

.card__price--common::before {
  content: "Звичайна ціна";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card__title {
  display: block;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #414141;
}

.card__title:hover {
  color: #ff5f00;
}

.card__btn {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 17px;
  color: #70c05b;
  text-align: center;
  border: 1px solid #70c05b;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.card__btn:hover {
  background-color: #70c05b;
  color: #fff;
}

.cards {
  padding: 75px 0;
}

.container__cards {
  display: grid !important;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  column-gap: 30px;
  row-gap: 40px;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}
